<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CONQUERGUEST</a>
    </div>    
  </div>
</nav>

<div class="jumbotron">
	<div class="container">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<h1> COMING SOON </h1>
		<div class="col-md-5">
			<p class="text-justify"> Dutch company is developing at the moment a reservation system for customers of all hotels in World. Thanks for waiting. </p>
		</div>
	</div>
</div>


<div class="footer">
	<div class="container">
		<p> by ConquerGuest.com B.V. </p>
	</div>
</div>
